@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@100;300;400&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --white-1: #ffffff;
  --grey-1: #a9a9ba;
  --grey-2: #6f6f7a;
  --grey-3: #35353b;
  --grey-4: #2e2e33;
  --grey-5: #2a2a2e;
  --purple: #9572f8;
}

* {
  color: var(--white-1);
  font-family: "Roboto", "Quicksand", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-5);
}

header > nav {
  background-color: var(--grey-2);
  box-shadow: 0px 4px 2px 2px var(--grey-5);
  margin: auto;
  padding: 8px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: calc(100% - 16px);
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li {
  list-style: none;
  margin: 0 16px;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 1em;
  line-height: 2;
  cursor: pointer;
}

#main {
  margin: auto;
  margin-top: 48px;
  max-width: 1680px;
  box-sizing: border-box;
}

/* Inicio do CSS da Tela Home*/

input[type="search"] {
  width: 100%;
  margin-left: 25 px;
  padding: 12px 40px;
  margin-bottom: 50px;
  border: 2px solid var(--grey-1);
  border-radius: 5px;
  color: var(--grey-5);
  background-color: var(--white-1);
  background-image: url("../HomeScreen/assets/imagens/search.png");
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: width 0home4s ease-in-out;
}
input[type="search"]:focus {
  border: 4px solid var(--grey-4);
}
.Home_Title {
  color: aliceblue;
  margin-left: 3%;
  margin-bottom: 2%;
}
.Home-Title_Row {
  margin-left: 10px;
}

.Home-arrow {
  position: absolute;
}
.Home-arrow svg {
  transition: color 300ms;
}
.arrow svg:hover {
  color: var(--purple);
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}
.next {
  right: 0% !important;
  top: 50% !important;
  font-size: xxx-large;
  color: var(--white-1);
}
.prev {
  left: -5% !important;
  top: 50% !important;
  font-size: xxx-large;
  color: var(--white-1);
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}
/*Fim do CSS da Pagina Home*/
.Home-row_posters {
}
