@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@100;300;400&display=swap");

:root {
  --white-1: white;
  --grey-1: #A9A9BA;
  --grey-2: #6F6F7A;
  --grey-3: #35353B;
  --grey-4: #2E2E33;
  --grey-5: #2A2A2E;
  --purple: #9572F8;
}

* {
  font-family: "Roboto", "Quicksand", "sans-serif";
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-5);
}

header > nav {
  background-color: var(--grey-2);
  box-shadow: 0 4px 2px 2px var(--grey-5);
  margin: auto;
  padding: 8px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: calc(100% - 16px);
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li {
  list-style: none;
  margin: 0 16px;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 1em;
  line-height: 2;
  cursor: pointer;
}

#main {
  margin: 48px auto auto;
  max-width: 1680px;
  box-sizing: border-box;
}
