.visibility-icon {
    top: 30%;
    right: 0;
    margin-right: 24px;
    position: absolute;
    cursor: pointer;
    color: #6F6F7A;
    font-size: 24px;
}

.login-password-field {
    position: relative;
    margin-bottom: 32px;
}